/*
 * -------------------------------------------------
 *  nfcore_download_singularity Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

params {

  help = false
  email = null

}

timeline {
  enabled = true
  file = "pipeline_info/nfcore_download_singularity.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/EGAnfcore_download_singularitysubmit.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/nfcore_download_singularity.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/nfcore_download_singularity.dag.svg"
}

manifest {
  name = 'brucemoran/nfcore_download_singularity'
  author = 'Bruce Moran'
  homePage = 'https://github.com/brucemoran/nfcore_download_singularity'
  description = 'Nextflow nfcore_download_singularity'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.0'
  version = '0.1'
}
