/*
 * ----------------------------------------
 *  Nextflow config file for Nucleus Server
 * ----------------------------------------
 * Imported under the 'nucleus' Nextflow profile in:
 * nextflow.config
 */

params {

  //per process maximums
  max_memory = 128.GB
  max_cpus = 64
  max_time = 36.h

}

process {

  executor = 'local'
  cache = 'lenient'
  time = '48.h'
  container = 'shub://brucemoran/Singularity:ega.centos7'

  withLabel:low_mem {
    cpus = 2
    memory = 4.GB
  }

  withLabel:med_mem {
    cpus = 5
    memory = 16.GB
  }

  withLabel:high_mem {
    cpus = 10
    memory = 32.GB
  }

  withLabel:max_mem {
    cpus = 20
    memory = 64.GB
  }

}

singularity {

  cacheDir = '/store2/bmoran/singularity/nextflow'
  runOptions = '--bind /home/bmoran,/store2,/store1'

}
